*{
  box-sizing: border-box;
}
body{
  color: #222;
}
img{
  max-width: 100%;
}
main{
  padding: 10px;
  max-width: 60%;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}
header a{
  text-decoration: none;
  color: inherit;
  font-size: 1.1rem;
}

header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}

header nav{
  display: flex;
  gap: 15px;
}

div.post{
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
  margin-bottom: 35px;
}

div.post div.texts h2{
  margin: 0;
  font-size: 1.8rem;
}

div.post div.texts a{
  text-decoration: none;
  color: inherit;
}

time{
  color: #999696;
}

div.post p.info{
  margin: 6px 0;
  font-size: .8rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.info span.author{
  color:#333;
}

div.post p.summary{
  margin: 10px 0;
  line-height: 1.4rem;

}


form.login, form.register{
  max-width:  400px;
  margin: 0 auto;
}

input{
  display: block;
  margin-bottom: 5px ;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  
}

button{
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}

form h1{
  text-align: center;
}

/* Estilos básicos para el contenido del editor */
.ProseMirror {
  border: 1px solid #ccc;
  min-height: 200px;
  padding: 15px;
  border-radius: 4px;
  background-color: #fff;
  outline: none; /* Elimina el borde de enfoque por defecto */
}

/* Estilos para los elementos de texto */
.ProseMirror p {
  margin: 0 0 1em 0; /* Espaciado entre párrafos */
}

.ProseMirror h1, .ProseMirror h2, .ProseMirror h3, .ProseMirror h4, .ProseMirror h5, .ProseMirror h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

.ProseMirror strong {
  font-weight: bold;
}

.ProseMirror em {
  font-style: italic;
}

.ProseMirror s {
  text-decoration: line-through;
}

.ProseMirror ul, .ProseMirror ol {
  padding-left: 20px;
  margin: 1em 0;
}

